<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="checkMember" parameterType="map" resultType="MemberDTO">
		SELECT BOARD_WRITER, BOARD_WRITER_PW
		FROM sample_writer_tb 
		WHERE BOARD_WRITER = #{id} and BOARD_WRITER_PW = #{pw}
	</select>

</mapper>